body {
    font-family: Arial, Helvetica, sans-serif;
}

.fa-moon {
	color:#003EE7;
}

.fa-sun {
	color:#A57C00;
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20rem; }
.toggle.ios .toggle-handle { border-radius: 20rem; }


.nav-item:hover .nav-link:hover,
.navbar-custom:hover .nav-item:hover {
    color: #ffffff;
    background-color: red;
}

.dropdown-item:focus, .dropdown-item:hover{
    color: #ffffff !important;
    background-color: red !important;
}

.toggle-handle{
    background-color: white !important;
}
[data-theme="dark"] .toggle-handle{
    background-color:#343a40 !important;
}
.btn.toggle {
    border-color: white !important;
}

/* body.darks {
    background-color: black;
    color: #ffffff;
} */

